@{
	ViewData["Title"] = "Order";
	Layout = "_ManagementLayout";
}

@section Styles{
	
}

<table class="table table-hover" style="text-align:center">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Customer</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Total price</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>Cust name @i</td>
                <td>0123456789</td>
                <td>cust address @i</td>
                <td>$123</td>
                <td>11/11/1111</td>
                <td>
                    <a asp-controller="Order" asp-action="Detail">
                        <button class="btn btn-info" data-pro-id="@i">Detail</button>
                    </a>

                </td>
            </tr>
        }

    </tbody>
</table>
