@{
    ViewData["Title"] = "Book";
    Layout = "_CustomerLayout";
}

@section Styles{
    <link href="~/css/share/animation-loading.css" asp-append-version="true"/>
    <link href="~/css/share/animation-loading.css" asp-append-version="true"/>
}

<partial name="_AnimationLoading" />

<!-- book section -->

<section class="shop_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Product list
            </h2>
        </div>
        <div id="search-area" style="transform: translateX(50%);">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-flex" id="search_box_product" role="search">
                            <input class="form-control me-2" id="txt_search_pro" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" id="btn_search_product">Search</button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row" id="body_pro_list">
            @for (int i = 0; i < 10; i++)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="box">
                        <a>
                            <div class="img-box">
                                <img src="~/img/book/book_demo.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <a id="pro_name">
                                    proName @i
                                </a>
                                <h6 id="cate_name">
                                    Category: cateName @i
                                </h6>
                                <h6 id="sup_name">
                                    Supplier: supName @i
                                </h6>
                                <h6 id="auth_name">
                                    Author: authName @i
                                </h6>
                                <h6 id="price">
                                    Price: 12@(i)
                                </h6>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- end book section -->
@section Scripts{

}